$main-color: #232323;
$second-color: #FFFFFF;
$accent-color: #FFC900;

$blue-line-color: #69AED7;

$gray-color-light: #929292;
$gray-color: #767676;
$gray-color-darken: #434343;
$gray-color--more-dark: #313131;

$black-color: #2D2D2D;

$border-accent-3px: 3px solid $accent-color;
$border-main-3px: 3px solid $gray-color--more-dark;

@mixin font-mixin-normal {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

@mixin font-mixin-black {
  font-family: 'Montserrat Black', sans-serif;
  font-style: normal;
}


@mixin container {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin border-main {
  border-left: $border-main-3px;
  border-right: $border-main-3px;
}

@mixin border-second {
  border-left: 2px solid $second-color;
  border-right: 2px solid $second-color;
}

@mixin border-accent {
  border-left: $border-accent-3px;
  border-right: $border-accent-3px;
}

@mixin outline-accent {
  outline: 3px solid $accent-color;
}

@mixin animation($scale) {
  transform: matrix3d($scale,0,0.00,0,0.00,$scale,0.00,0,0,0,1,0,0,0,5,1);
  -webkit-transform: matrix3d($scale,0,0.00,0,0.00,$scale,0.00,0,0,0,1,0,0,0,5,1);
}

@mixin magic-border($width, $color, $duration, $direction){
  position:relative;
  &:before{
    content:'';
    position:absolute;
    width:calc(100% + #{$width * 2});
    height:calc(100% + #{$width * 2});
    top:calc(#{$width}/-1);
    left:calc(#{$width}/-1);
    background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
    background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat:no-repeat, no-repeat;
    transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
    transform:scaleX(0) rotate(180deg * $direction);
    transition-delay:$duration*2, $duration, 0s;
  }
  &:hover{
    &:before{
      background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform:scaleX(1) rotate(180deg * $direction);
      transition-delay:0s, $duration, $duration*2;
    }
  }
}

