$main-color: #232323;
$second-color: #FFFFFF;
$accent-color: #FFC900;

$blue-line-color: #69AED7;

$gray-color-light: #929292;
$gray-color: #767676;
$gray-color-darken: #434343;
$gray-color--more-dark: #313131;

$black-color: #2D2D2D;


@mixin font-mixin-normal {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

@mixin font-mixin-black {
  font-family: 'Montserrat Black', sans-serif;
  font-style: normal;
}


@mixin container {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin border-main {
  border-left: $border-main-3px;
  border-right: $border-main-3px;
}

@mixin border-second {
  border-left: 2px solid $second-color;
  border-right: 2px solid $second-color;
}

@mixin border-accent {
  border-left: $border-accent-3px;
  border-right: $border-accent-3px;
}

@mixin outline-accent {
  outline: 3px solid $accent-color;
}

$border-accent-3px: 3px solid $accent-color;
$border-main-3px: 3px solid $gray-color--more-dark;